.flag-16 {
  background-image: url('../static/flags-16.png');
  background-position: -421px -343px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.flag-16-ac {
  background-position: -5px -5px;
}

.flag-16-ad {
  background-position: -31px -5px;
}

.flag-16-ae {
  background-position: -57px -5px;
}

.flag-16-af {
  background-position: -83px -5px;
}

.flag-16-ag {
  background-position: -109px -5px;
}

.flag-16-ai {
  background-position: -135px -5px;
}

.flag-16-al {
  background-position: -161px -5px;
}

.flag-16-am {
  background-position: -187px -5px;
}

.flag-16-an {
  background-position: -213px -5px;
}

.flag-16-ao {
  background-position: -239px -5px;
}

.flag-16-aq {
  background-position: -265px -5px;
}

.flag-16-ar {
  background-position: -291px -5px;
}

.flag-16-as {
  background-position: -317px -5px;
}

.flag-16-at {
  background-position: -343px -5px;
}

.flag-16-au {
  background-position: -369px -5px;
}

.flag-16-aw {
  background-position: -395px -5px;
}

.flag-16-ax {
  background-position: -5px -31px;
}

.flag-16-az {
  background-position: -31px -31px;
}

.flag-16-ba {
  background-position: -57px -31px;
}

.flag-16-bb {
  background-position: -83px -31px;
}

.flag-16-bd {
  background-position: -109px -31px;
}

.flag-16-be {
  background-position: -135px -31px;
}

.flag-16-bf {
  background-position: -161px -31px;
}

.flag-16-bg {
  background-position: -187px -31px;
}

.flag-16-bh {
  background-position: -213px -31px;
}

.flag-16-bi {
  background-position: -239px -31px;
}

.flag-16-bj {
  background-position: -265px -31px;
}

.flag-16-bl {
  background-position: -291px -31px;
}

.flag-16-bm {
  background-position: -317px -31px;
}

.flag-16-bn {
  background-position: -343px -31px;
}

.flag-16-bo {
  background-position: -369px -31px;
}

.flag-16-bq {
  background-position: -395px -31px;
}

.flag-16-br {
  background-position: -5px -57px;
}

.flag-16-bs {
  background-position: -31px -57px;
}

.flag-16-bt {
  background-position: -57px -57px;
}

.flag-16-bw {
  background-position: -83px -57px;
}

.flag-16-by {
  background-position: -109px -57px;
}

.flag-16-bz {
  background-position: -135px -57px;
}

.flag-16-ca {
  background-position: -161px -57px;
}

.flag-16-cc {
  background-position: -187px -57px;
}

.flag-16-cd {
  background-position: -213px -57px;
}

.flag-16-cf {
  background-position: -239px -57px;
}

.flag-16-cg {
  background-position: -265px -57px;
}

.flag-16-ch {
  background-position: -291px -57px;
}

.flag-16-ci {
  background-position: -317px -57px;
}

.flag-16-ck {
  background-position: -343px -57px;
}

.flag-16-cl {
  background-position: -369px -57px;
}

.flag-16-cm {
  background-position: -395px -57px;
}

.flag-16-cn {
  background-position: -5px -83px;
}

.flag-16-co {
  background-position: -31px -83px;
}

.flag-16-cr {
  background-position: -57px -83px;
}

.flag-16-ct {
  background-position: -83px -83px;
}

.flag-16-cu {
  background-position: -109px -83px;
}

.flag-16-cv {
  background-position: -135px -83px;
}

.flag-16-cw {
  background-position: -161px -83px;
}

.flag-16-cx {
  background-position: -187px -83px;
}

.flag-16-cy {
  background-position: -213px -83px;
}

.flag-16-cz {
  background-position: -239px -83px;
}

.flag-16-de {
  background-position: -265px -83px;
}

.flag-16-dj {
  background-position: -291px -83px;
}

.flag-16-dk {
  background-position: -317px -83px;
}

.flag-16-dm {
  background-position: -343px -83px;
}

.flag-16-do {
  background-position: -369px -83px;
}

.flag-16-dz {
  background-position: -395px -83px;
}

.flag-16-ec {
  background-position: -5px -109px;
}

.flag-16-ee {
  background-position: -31px -109px;
}

.flag-16-eg {
  background-position: -57px -109px;
}

.flag-16-eh {
  background-position: -83px -109px;
}

.flag-16-er {
  background-position: -109px -109px;
}

.flag-16-es {
  background-position: -135px -109px;
}

.flag-16-et {
  background-position: -161px -109px;
}

.flag-16-eu {
  background-position: -187px -109px;
}

.flag-16-fi {
  background-position: -213px -109px;
}

.flag-16-fj {
  background-position: -239px -109px;
}

.flag-16-fk {
  background-position: -265px -109px;
}

.flag-16-fm {
  background-position: -291px -109px;
}

.flag-16-fo {
  background-position: -317px -109px;
}

.flag-16-fr {
  background-position: -343px -109px;
}

.flag-16-ga {
  background-position: -369px -109px;
}

.flag-16-gb {
  background-position: -395px -109px;
}

.flag-16-gd {
  background-position: -5px -135px;
}

.flag-16-ge {
  background-position: -31px -135px;
}

.flag-16-gf {
  background-position: -57px -135px;
}

.flag-16-gg {
  background-position: -83px -135px;
}

.flag-16-gh {
  background-position: -109px -135px;
}

.flag-16-gi {
  background-position: -135px -135px;
}

.flag-16-gl {
  background-position: -161px -135px;
}

.flag-16-gm {
  background-position: -187px -135px;
}

.flag-16-gn {
  background-position: -213px -135px;
}

.flag-16-gp {
  background-position: -239px -135px;
}

.flag-16-gq {
  background-position: -265px -135px;
}

.flag-16-gr {
  background-position: -291px -135px;
}

.flag-16-gs {
  background-position: -317px -135px;
}

.flag-16-gt {
  background-position: -343px -135px;
}

.flag-16-gu {
  background-position: -369px -135px;
}

.flag-16-gw {
  background-position: -395px -135px;
}

.flag-16-gy {
  background-position: -5px -161px;
}

.flag-16-hk {
  background-position: -31px -161px;
}

.flag-16-hn {
  background-position: -57px -161px;
}

.flag-16-hr {
  background-position: -83px -161px;
}

.flag-16-ht {
  background-position: -109px -161px;
}

.flag-16-hu {
  background-position: -135px -161px;
}

.flag-16-ic {
  background-position: -161px -161px;
}

.flag-16-id {
  background-position: -187px -161px;
}

.flag-16-ie {
  background-position: -213px -161px;
}

.flag-16-il {
  background-position: -239px -161px;
}

.flag-16-im {
  background-position: -265px -161px;
}

.flag-16-in {
  background-position: -291px -161px;
}

.flag-16-io {
  background-position: -317px -161px;
}

.flag-16-iq {
  background-position: -343px -161px;
}

.flag-16-ir {
  background-position: -369px -161px;
}

.flag-16-is {
  background-position: -395px -161px;
}

.flag-16-it {
  background-position: -5px -187px;
}

.flag-16-je {
  background-position: -31px -187px;
}

.flag-16-jm {
  background-position: -57px -187px;
}

.flag-16-jo {
  background-position: -83px -187px;
}

.flag-16-jp {
  background-position: -109px -187px;
}

.flag-16-ke {
  background-position: -135px -187px;
}

.flag-16-kg {
  background-position: -161px -187px;
}

.flag-16-kh {
  background-position: -187px -187px;
}

.flag-16-ki {
  background-position: -213px -187px;
}

.flag-16-km {
  background-position: -239px -187px;
}

.flag-16-kn {
  background-position: -265px -187px;
}

.flag-16-kp {
  background-position: -291px -187px;
}

.flag-16-kr {
  background-position: -317px -187px;
}

.flag-16-kw {
  background-position: -343px -187px;
}

.flag-16-ky {
  background-position: -369px -187px;
}

.flag-16-kz {
  background-position: -395px -187px;
}

.flag-16-la {
  background-position: -5px -213px;
}

.flag-16-lb {
  background-position: -31px -213px;
}

.flag-16-lc {
  background-position: -57px -213px;
}

.flag-16-li {
  background-position: -83px -213px;
}

.flag-16-lk {
  background-position: -109px -213px;
}

.flag-16-lr {
  background-position: -135px -213px;
}

.flag-16-ls {
  background-position: -161px -213px;
}

.flag-16-lt {
  background-position: -187px -213px;
}

.flag-16-lu {
  background-position: -213px -213px;
}

.flag-16-lv {
  background-position: -239px -213px;
}

.flag-16-ly {
  background-position: -265px -213px;
}

.flag-16-ma {
  background-position: -291px -213px;
}

.flag-16-mc {
  background-position: -317px -213px;
}

.flag-16-md {
  background-position: -343px -213px;
}

.flag-16-me {
  background-position: -369px -213px;
}

.flag-16-mf {
  background-position: -395px -213px;
}

.flag-16-mg {
  background-position: -5px -239px;
}

.flag-16-mh {
  background-position: -31px -239px;
}

.flag-16-mk {
  background-position: -57px -239px;
}

.flag-16-ml {
  background-position: -83px -239px;
}

.flag-16-mm {
  background-position: -109px -239px;
}

.flag-16-mn {
  background-position: -135px -239px;
}

.flag-16-mo {
  background-position: -161px -239px;
}

.flag-16-mp {
  background-position: -187px -239px;
}

.flag-16-mq {
  background-position: -213px -239px;
}

.flag-16-mr {
  background-position: -239px -239px;
}

.flag-16-ms {
  background-position: -265px -239px;
}

.flag-16-mt {
  background-position: -291px -239px;
}

.flag-16-mu {
  background-position: -317px -239px;
}

.flag-16-mv {
  background-position: -343px -239px;
}

.flag-16-mw {
  background-position: -369px -239px;
}

.flag-16-mx {
  background-position: -395px -239px;
}

.flag-16-my {
  background-position: -5px -265px;
}

.flag-16-mz {
  background-position: -31px -265px;
}

.flag-16-na {
  background-position: -57px -265px;
}

.flag-16-nc {
  background-position: -83px -265px;
}

.flag-16-ne {
  background-position: -109px -265px;
}

.flag-16-nf {
  background-position: -135px -265px;
}

.flag-16-ng {
  background-position: -161px -265px;
}

.flag-16-ni {
  background-position: -187px -265px;
}

.flag-16-nl {
  background-position: -213px -265px;
}

.flag-16-no {
  background-position: -239px -265px;
}

.flag-16-np {
  background-position: -265px -265px;
}

.flag-16-nr {
  background-position: -291px -265px;
}

.flag-16-nu {
  background-position: -317px -265px;
}

.flag-16-nz {
  background-position: -343px -265px;
}

.flag-16-om {
  background-position: -369px -265px;
}

.flag-16-pa {
  background-position: -395px -265px;
}

.flag-16-pe {
  background-position: -5px -291px;
}

.flag-16-pf {
  background-position: -31px -291px;
}

.flag-16-pg {
  background-position: -57px -291px;
}

.flag-16-ph {
  background-position: -83px -291px;
}

.flag-16-pk {
  background-position: -109px -291px;
}

.flag-16-pl {
  background-position: -135px -291px;
}

.flag-16-pm {
  background-position: -161px -291px;
}

.flag-16-pn {
  background-position: -187px -291px;
}

.flag-16-pr {
  background-position: -213px -291px;
}

.flag-16-ps {
  background-position: -239px -291px;
}

.flag-16-pt {
  background-position: -265px -291px;
}

.flag-16-pw {
  background-position: -291px -291px;
}

.flag-16-py {
  background-position: -317px -291px;
}

.flag-16-qa {
  background-position: -343px -291px;
}

.flag-16-re {
  background-position: -369px -291px;
}

.flag-16-ro {
  background-position: -395px -291px;
}

.flag-16-rs {
  background-position: -5px -317px;
}

.flag-16-ru {
  background-position: -31px -317px;
}

.flag-16-rw {
  background-position: -57px -317px;
}

.flag-16-sa {
  background-position: -83px -317px;
}

.flag-16-sb {
  background-position: -109px -317px;
}

.flag-16-sc {
  background-position: -135px -317px;
}

.flag-16-sd {
  background-position: -161px -317px;
}

.flag-16-se {
  background-position: -187px -317px;
}

.flag-16-sg {
  background-position: -213px -317px;
}

.flag-16-sh {
  background-position: -239px -317px;
}

.flag-16-si {
  background-position: -265px -317px;
}

.flag-16-sj {
  background-position: -291px -317px;
}

.flag-16-sk {
  background-position: -317px -317px;
}

.flag-16-sl {
  background-position: -343px -317px;
}

.flag-16-sm {
  background-position: -369px -317px;
}

.flag-16-sn {
  background-position: -395px -317px;
}

.flag-16-so {
  background-position: -5px -343px;
}

.flag-16-sr {
  background-position: -31px -343px;
}

.flag-16-ss {
  background-position: -57px -343px;
}

.flag-16-st {
  background-position: -83px -343px;
}

.flag-16-sv {
  background-position: -109px -343px;
}

.flag-16-sx {
  background-position: -135px -343px;
}

.flag-16-sy {
  background-position: -161px -343px;
}

.flag-16-sz {
  background-position: -187px -343px;
}

.flag-16-ta {
  background-position: -213px -343px;
}

.flag-16-tc {
  background-position: -239px -343px;
}

.flag-16-td {
  background-position: -265px -343px;
}

.flag-16-tf {
  background-position: -291px -343px;
}

.flag-16-tg {
  background-position: -317px -343px;
}

.flag-16-th {
  background-position: -343px -343px;
}

.flag-16-tj {
  background-position: -369px -343px;
}

.flag-16-tk {
  background-position: -395px -343px;
}

.flag-16-tl {
  background-position: -5px -369px;
}

.flag-16-tm {
  background-position: -31px -369px;
}

.flag-16-tn {
  background-position: -57px -369px;
}

.flag-16-to {
  background-position: -83px -369px;
}

.flag-16-tr {
  background-position: -109px -369px;
}

.flag-16-tt {
  background-position: -135px -369px;
}

.flag-16-tv {
  background-position: -161px -369px;
}

.flag-16-tw {
  background-position: -187px -369px;
}

.flag-16-tz {
  background-position: -213px -369px;
}

.flag-16-ua {
  background-position: -239px -369px;
}

.flag-16-ug {
  background-position: -265px -369px;
}

.flag-16-us {
  background-position: -291px -369px;
}

.flag-16-uy {
  background-position: -317px -369px;
}

.flag-16-uz {
  background-position: -343px -369px;
}

.flag-16-va {
  background-position: -369px -369px;
}

.flag-16-vc {
  background-position: -395px -369px;
}

.flag-16-ve {
  background-position: -5px -395px;
}

.flag-16-vg {
  background-position: -31px -395px;
}

.flag-16-vi {
  background-position: -57px -395px;
}

.flag-16-vn {
  background-position: -83px -395px;
}

.flag-16-vu {
  background-position: -109px -395px;
}

.flag-16-wf {
  background-position: -135px -395px;
}

.flag-16-ws {
  background-position: -161px -395px;
}

.flag-16-ye {
  background-position: -187px -395px;
}

.flag-16-yt {
  background-position: -213px -395px;
}

.flag-16-za {
  background-position: -239px -395px;
}

.flag-16-zm {
  background-position: -265px -395px;
}

.flag-16-zw {
  background-position: -291px -395px;
}

.flag-16-_abkhazia {
  background-position: -317px -395px;
}

.flag-16-_basque-country {
  background-position: -343px -395px;
}

.flag-16-_british-antarctic-territory {
  background-position: -369px -395px;
}

.flag-16-_commonwealth {
  background-position: -395px -395px;
}

.flag-16-_england {
  background-position: -421px -5px;
}

.flag-16-_gosquared {
  background-position: -421px -31px;
}

.flag-16-_kosovo {
  background-position: -421px -57px;
}

.flag-16-_mars {
  background-position: -421px -83px;
}

.flag-16-_nagorno-karabakh {
  background-position: -421px -109px;
}

.flag-16-_nato {
  background-position: -421px -135px;
}

.flag-16-_northern-cyprus {
  background-position: -421px -161px;
}

.flag-16-_olympics {
  background-position: -421px -187px;
}

.flag-16-_red-cross {
  background-position: -421px -213px;
}

.flag-16-_scotland {
  background-position: -421px -239px;
}

.flag-16-_somaliland {
  background-position: -421px -265px;
}

.flag-16-_south-ossetia {
  background-position: -421px -291px;
}

.flag-16-_united-nations {
  background-position: -421px -317px;
}

.flag-16-_unknown {
  background-position: -421px -343px;
}

.flag-16-_wales {
  background-position: -421px -369px;
}
