.flag-24 {
  background-image: url('../static/flags-24.png');
  background-position: -549px -447px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.flag-24-ac {
  background-position: -5px -5px;
}

.flag-24-ad {
  background-position: -39px -5px;
}

.flag-24-ae {
  background-position: -73px -5px;
}

.flag-24-af {
  background-position: -107px -5px;
}

.flag-24-ag {
  background-position: -141px -5px;
}

.flag-24-ai {
  background-position: -175px -5px;
}

.flag-24-al {
  background-position: -209px -5px;
}

.flag-24-am {
  background-position: -243px -5px;
}

.flag-24-an {
  background-position: -277px -5px;
}

.flag-24-ao {
  background-position: -311px -5px;
}

.flag-24-aq {
  background-position: -345px -5px;
}

.flag-24-ar {
  background-position: -379px -5px;
}

.flag-24-as {
  background-position: -413px -5px;
}

.flag-24-at {
  background-position: -447px -5px;
}

.flag-24-au {
  background-position: -481px -5px;
}

.flag-24-aw {
  background-position: -515px -5px;
}

.flag-24-ax {
  background-position: -5px -39px;
}

.flag-24-az {
  background-position: -39px -39px;
}

.flag-24-ba {
  background-position: -73px -39px;
}

.flag-24-bb {
  background-position: -107px -39px;
}

.flag-24-bd {
  background-position: -141px -39px;
}

.flag-24-be {
  background-position: -175px -39px;
}

.flag-24-bf {
  background-position: -209px -39px;
}

.flag-24-bg {
  background-position: -243px -39px;
}

.flag-24-bh {
  background-position: -277px -39px;
}

.flag-24-bi {
  background-position: -311px -39px;
}

.flag-24-bj {
  background-position: -345px -39px;
}

.flag-24-bl {
  background-position: -379px -39px;
}

.flag-24-bm {
  background-position: -413px -39px;
}

.flag-24-bn {
  background-position: -447px -39px;
}

.flag-24-bo {
  background-position: -481px -39px;
}

.flag-24-bq {
  background-position: -515px -39px;
}

.flag-24-br {
  background-position: -5px -73px;
}

.flag-24-bs {
  background-position: -39px -73px;
}

.flag-24-bt {
  background-position: -73px -73px;
}

.flag-24-bw {
  background-position: -107px -73px;
}

.flag-24-by {
  background-position: -141px -73px;
}

.flag-24-bz {
  background-position: -175px -73px;
}

.flag-24-ca {
  background-position: -209px -73px;
}

.flag-24-cc {
  background-position: -243px -73px;
}

.flag-24-cd {
  background-position: -277px -73px;
}

.flag-24-cf {
  background-position: -311px -73px;
}

.flag-24-cg {
  background-position: -345px -73px;
}

.flag-24-ch {
  background-position: -379px -73px;
}

.flag-24-ci {
  background-position: -413px -73px;
}

.flag-24-ck {
  background-position: -447px -73px;
}

.flag-24-cl {
  background-position: -481px -73px;
}

.flag-24-cm {
  background-position: -515px -73px;
}

.flag-24-cn {
  background-position: -5px -107px;
}

.flag-24-co {
  background-position: -39px -107px;
}

.flag-24-cr {
  background-position: -73px -107px;
}

.flag-24-ct {
  background-position: -107px -107px;
}

.flag-24-cu {
  background-position: -141px -107px;
}

.flag-24-cv {
  background-position: -175px -107px;
}

.flag-24-cw {
  background-position: -209px -107px;
}

.flag-24-cx {
  background-position: -243px -107px;
}

.flag-24-cy {
  background-position: -277px -107px;
}

.flag-24-cz {
  background-position: -311px -107px;
}

.flag-24-de {
  background-position: -345px -107px;
}

.flag-24-dj {
  background-position: -379px -107px;
}

.flag-24-dk {
  background-position: -413px -107px;
}

.flag-24-dm {
  background-position: -447px -107px;
}

.flag-24-do {
  background-position: -481px -107px;
}

.flag-24-dz {
  background-position: -515px -107px;
}

.flag-24-ec {
  background-position: -5px -141px;
}

.flag-24-ee {
  background-position: -39px -141px;
}

.flag-24-eg {
  background-position: -73px -141px;
}

.flag-24-eh {
  background-position: -107px -141px;
}

.flag-24-er {
  background-position: -141px -141px;
}

.flag-24-es {
  background-position: -175px -141px;
}

.flag-24-et {
  background-position: -209px -141px;
}

.flag-24-eu {
  background-position: -243px -141px;
}

.flag-24-fi {
  background-position: -277px -141px;
}

.flag-24-fj {
  background-position: -311px -141px;
}

.flag-24-fk {
  background-position: -345px -141px;
}

.flag-24-fm {
  background-position: -379px -141px;
}

.flag-24-fo {
  background-position: -413px -141px;
}

.flag-24-fr {
  background-position: -447px -141px;
}

.flag-24-ga {
  background-position: -481px -141px;
}

.flag-24-gb {
  background-position: -515px -141px;
}

.flag-24-gd {
  background-position: -5px -175px;
}

.flag-24-ge {
  background-position: -39px -175px;
}

.flag-24-gf {
  background-position: -73px -175px;
}

.flag-24-gg {
  background-position: -107px -175px;
}

.flag-24-gh {
  background-position: -141px -175px;
}

.flag-24-gi {
  background-position: -175px -175px;
}

.flag-24-gl {
  background-position: -209px -175px;
}

.flag-24-gm {
  background-position: -243px -175px;
}

.flag-24-gn {
  background-position: -277px -175px;
}

.flag-24-gp {
  background-position: -311px -175px;
}

.flag-24-gq {
  background-position: -345px -175px;
}

.flag-24-gr {
  background-position: -379px -175px;
}

.flag-24-gs {
  background-position: -413px -175px;
}

.flag-24-gt {
  background-position: -447px -175px;
}

.flag-24-gu {
  background-position: -481px -175px;
}

.flag-24-gw {
  background-position: -515px -175px;
}

.flag-24-gy {
  background-position: -5px -209px;
}

.flag-24-hk {
  background-position: -39px -209px;
}

.flag-24-hn {
  background-position: -73px -209px;
}

.flag-24-hr {
  background-position: -107px -209px;
}

.flag-24-ht {
  background-position: -141px -209px;
}

.flag-24-hu {
  background-position: -175px -209px;
}

.flag-24-ic {
  background-position: -209px -209px;
}

.flag-24-id {
  background-position: -243px -209px;
}

.flag-24-ie {
  background-position: -277px -209px;
}

.flag-24-il {
  background-position: -311px -209px;
}

.flag-24-im {
  background-position: -345px -209px;
}

.flag-24-in {
  background-position: -379px -209px;
}

.flag-24-io {
  background-position: -413px -209px;
}

.flag-24-iq {
  background-position: -447px -209px;
}

.flag-24-ir {
  background-position: -481px -209px;
}

.flag-24-is {
  background-position: -515px -209px;
}

.flag-24-it {
  background-position: -5px -243px;
}

.flag-24-je {
  background-position: -39px -243px;
}

.flag-24-jm {
  background-position: -73px -243px;
}

.flag-24-jo {
  background-position: -107px -243px;
}

.flag-24-jp {
  background-position: -141px -243px;
}

.flag-24-ke {
  background-position: -175px -243px;
}

.flag-24-kg {
  background-position: -209px -243px;
}

.flag-24-kh {
  background-position: -243px -243px;
}

.flag-24-ki {
  background-position: -277px -243px;
}

.flag-24-km {
  background-position: -311px -243px;
}

.flag-24-kn {
  background-position: -345px -243px;
}

.flag-24-kp {
  background-position: -379px -243px;
}

.flag-24-kr {
  background-position: -413px -243px;
}

.flag-24-kw {
  background-position: -447px -243px;
}

.flag-24-ky {
  background-position: -481px -243px;
}

.flag-24-kz {
  background-position: -515px -243px;
}

.flag-24-la {
  background-position: -5px -277px;
}

.flag-24-lb {
  background-position: -39px -277px;
}

.flag-24-lc {
  background-position: -73px -277px;
}

.flag-24-li {
  background-position: -107px -277px;
}

.flag-24-lk {
  background-position: -141px -277px;
}

.flag-24-lr {
  background-position: -175px -277px;
}

.flag-24-ls {
  background-position: -209px -277px;
}

.flag-24-lt {
  background-position: -243px -277px;
}

.flag-24-lu {
  background-position: -277px -277px;
}

.flag-24-lv {
  background-position: -311px -277px;
}

.flag-24-ly {
  background-position: -345px -277px;
}

.flag-24-ma {
  background-position: -379px -277px;
}

.flag-24-mc {
  background-position: -413px -277px;
}

.flag-24-md {
  background-position: -447px -277px;
}

.flag-24-me {
  background-position: -481px -277px;
}

.flag-24-mf {
  background-position: -515px -277px;
}

.flag-24-mg {
  background-position: -5px -311px;
}

.flag-24-mh {
  background-position: -39px -311px;
}

.flag-24-mk {
  background-position: -73px -311px;
}

.flag-24-ml {
  background-position: -107px -311px;
}

.flag-24-mm {
  background-position: -141px -311px;
}

.flag-24-mn {
  background-position: -175px -311px;
}

.flag-24-mo {
  background-position: -209px -311px;
}

.flag-24-mp {
  background-position: -243px -311px;
}

.flag-24-mq {
  background-position: -277px -311px;
}

.flag-24-mr {
  background-position: -311px -311px;
}

.flag-24-ms {
  background-position: -345px -311px;
}

.flag-24-mt {
  background-position: -379px -311px;
}

.flag-24-mu {
  background-position: -413px -311px;
}

.flag-24-mv {
  background-position: -447px -311px;
}

.flag-24-mw {
  background-position: -481px -311px;
}

.flag-24-mx {
  background-position: -515px -311px;
}

.flag-24-my {
  background-position: -5px -345px;
}

.flag-24-mz {
  background-position: -39px -345px;
}

.flag-24-na {
  background-position: -73px -345px;
}

.flag-24-nc {
  background-position: -107px -345px;
}

.flag-24-ne {
  background-position: -141px -345px;
}

.flag-24-nf {
  background-position: -175px -345px;
}

.flag-24-ng {
  background-position: -209px -345px;
}

.flag-24-ni {
  background-position: -243px -345px;
}

.flag-24-nl {
  background-position: -277px -345px;
}

.flag-24-no {
  background-position: -311px -345px;
}

.flag-24-np {
  background-position: -345px -345px;
}

.flag-24-nr {
  background-position: -379px -345px;
}

.flag-24-nu {
  background-position: -413px -345px;
}

.flag-24-nz {
  background-position: -447px -345px;
}

.flag-24-om {
  background-position: -481px -345px;
}

.flag-24-pa {
  background-position: -515px -345px;
}

.flag-24-pe {
  background-position: -5px -379px;
}

.flag-24-pf {
  background-position: -39px -379px;
}

.flag-24-pg {
  background-position: -73px -379px;
}

.flag-24-ph {
  background-position: -107px -379px;
}

.flag-24-pk {
  background-position: -141px -379px;
}

.flag-24-pl {
  background-position: -175px -379px;
}

.flag-24-pm {
  background-position: -209px -379px;
}

.flag-24-pn {
  background-position: -243px -379px;
}

.flag-24-pr {
  background-position: -277px -379px;
}

.flag-24-ps {
  background-position: -311px -379px;
}

.flag-24-pt {
  background-position: -345px -379px;
}

.flag-24-pw {
  background-position: -379px -379px;
}

.flag-24-py {
  background-position: -413px -379px;
}

.flag-24-qa {
  background-position: -447px -379px;
}

.flag-24-re {
  background-position: -481px -379px;
}

.flag-24-ro {
  background-position: -515px -379px;
}

.flag-24-rs {
  background-position: -5px -413px;
}

.flag-24-ru {
  background-position: -39px -413px;
}

.flag-24-rw {
  background-position: -73px -413px;
}

.flag-24-sa {
  background-position: -107px -413px;
}

.flag-24-sb {
  background-position: -141px -413px;
}

.flag-24-sc {
  background-position: -175px -413px;
}

.flag-24-sd {
  background-position: -209px -413px;
}

.flag-24-se {
  background-position: -243px -413px;
}

.flag-24-sg {
  background-position: -277px -413px;
}

.flag-24-sh {
  background-position: -311px -413px;
}

.flag-24-si {
  background-position: -345px -413px;
}

.flag-24-sj {
  background-position: -379px -413px;
}

.flag-24-sk {
  background-position: -413px -413px;
}

.flag-24-sl {
  background-position: -447px -413px;
}

.flag-24-sm {
  background-position: -481px -413px;
}

.flag-24-sn {
  background-position: -515px -413px;
}

.flag-24-so {
  background-position: -5px -447px;
}

.flag-24-sr {
  background-position: -39px -447px;
}

.flag-24-ss {
  background-position: -73px -447px;
}

.flag-24-st {
  background-position: -107px -447px;
}

.flag-24-sv {
  background-position: -141px -447px;
}

.flag-24-sx {
  background-position: -175px -447px;
}

.flag-24-sy {
  background-position: -209px -447px;
}

.flag-24-sz {
  background-position: -243px -447px;
}

.flag-24-ta {
  background-position: -277px -447px;
}

.flag-24-tc {
  background-position: -311px -447px;
}

.flag-24-td {
  background-position: -345px -447px;
}

.flag-24-tf {
  background-position: -379px -447px;
}

.flag-24-tg {
  background-position: -413px -447px;
}

.flag-24-th {
  background-position: -447px -447px;
}

.flag-24-tj {
  background-position: -481px -447px;
}

.flag-24-tk {
  background-position: -515px -447px;
}

.flag-24-tl {
  background-position: -5px -481px;
}

.flag-24-tm {
  background-position: -39px -481px;
}

.flag-24-tn {
  background-position: -73px -481px;
}

.flag-24-to {
  background-position: -107px -481px;
}

.flag-24-tr {
  background-position: -141px -481px;
}

.flag-24-tt {
  background-position: -175px -481px;
}

.flag-24-tv {
  background-position: -209px -481px;
}

.flag-24-tw {
  background-position: -243px -481px;
}

.flag-24-tz {
  background-position: -277px -481px;
}

.flag-24-ua {
  background-position: -311px -481px;
}

.flag-24-ug {
  background-position: -345px -481px;
}

.flag-24-us {
  background-position: -379px -481px;
}

.flag-24-uy {
  background-position: -413px -481px;
}

.flag-24-uz {
  background-position: -447px -481px;
}

.flag-24-va {
  background-position: -481px -481px;
}

.flag-24-vc {
  background-position: -515px -481px;
}

.flag-24-ve {
  background-position: -5px -515px;
}

.flag-24-vg {
  background-position: -39px -515px;
}

.flag-24-vi {
  background-position: -73px -515px;
}

.flag-24-vn {
  background-position: -107px -515px;
}

.flag-24-vu {
  background-position: -141px -515px;
}

.flag-24-wf {
  background-position: -175px -515px;
}

.flag-24-ws {
  background-position: -209px -515px;
}

.flag-24-ye {
  background-position: -243px -515px;
}

.flag-24-yt {
  background-position: -277px -515px;
}

.flag-24-za {
  background-position: -311px -515px;
}

.flag-24-zm {
  background-position: -345px -515px;
}

.flag-24-zw {
  background-position: -379px -515px;
}

.flag-24-_abkhazia {
  background-position: -413px -515px;
}

.flag-24-_basque-country {
  background-position: -447px -515px;
}

.flag-24-_british-antarctic-territory {
  background-position: -481px -515px;
}

.flag-24-_commonwealth {
  background-position: -515px -515px;
}

.flag-24-_england {
  background-position: -549px -5px;
}

.flag-24-_gosquared {
  background-position: -549px -39px;
}

.flag-24-_kosovo {
  background-position: -549px -73px;
}

.flag-24-_mars {
  background-position: -549px -107px;
}

.flag-24-_nagorno-karabakh {
  background-position: -549px -141px;
}

.flag-24-_nato {
  background-position: -549px -175px;
}

.flag-24-_northern-cyprus {
  background-position: -549px -209px;
}

.flag-24-_olympics {
  background-position: -549px -243px;
}

.flag-24-_red-cross {
  background-position: -549px -277px;
}

.flag-24-_scotland {
  background-position: -549px -311px;
}

.flag-24-_somaliland {
  background-position: -549px -345px;
}

.flag-24-_south-ossetia {
  background-position: -549px -379px;
}

.flag-24-_united-nations {
  background-position: -549px -413px;
}

.flag-24-_unknown {
  background-position: -549px -447px;
}

.flag-24-_wales {
  background-position: -549px -481px;
}
